/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Work Sans', sans-serif;
  color: #FBA423;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Work Sans', sans-serif;
  color: #FBA423;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h3 .noshow {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 10px;
  margin: 0 auto;
  background-color: #C12E6A;
}
@media (min-width: 800px) {
  .container {
    width: 770px;
  }
}
body {
  margin: 0;
  font-family: 'PT Serif', serif;
  background-color: teal;
}
a {
  color: #FBA423;
}
.header {
  background-color: #028d8d;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #028d8d;
}
.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  border-radius: 30px;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header li a:hover {
  background-color: teal;
}
.header .menu-btn {
  display: none;
}
.header .menu-btn:hover {
  background-color: teal;
}
.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
.header .logo {
  display: block;
  float: left;
  font-size: 2.6em;
  padding: 15px 20px 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
.header .menu-icon .navicon {
  background: #C12E6A;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}
.header .menu-icon .navicon:before {
  background: #FBA423;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  top: 5px;
}
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  top: -5px;
}
@media (min-width: 800px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
.intro-content {
  padding: 20px;
}
.intro-content h3 {
  padding: 10px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-content p {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-content {
  padding: 20px;
}
.about-content h3 {
  padding: 10px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-content p {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-content ul {
  margin: 0 auto;
}
.about-content li {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
}
.beach-boys {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Slideshow container */
.slider {
  box-shadow: 0px 4px 10px #9d9d9d;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 700px;
  border-radius: 50px;
}
.slider ul {
  width: 1000%;
  height: auto;
  position: relative;
  list-style: none;
  left: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
  -moz-animation: slide-animation 15s infinite;
  -webkit-animation: slide-animation 15s infinite;
}
.slider ul:hover {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
}
.slider li {
  width: 10%;
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}
.slider img {
  max-width: 100%;
}
@-webkit-keyframes slide-animation {
  1% {
    left: 0%;
    opacity: 1;
  }
  18% {
    left: 0%;
    opacity: 1;
  }
  19% {
    opacity: 0.2;
  }
  20% {
    left: -100%;
    opacity: 1;
  }
  58% {
    left: -100%;
    opacity: 1;
  }
  59% {
    opacity: 0.2;
  }
  60% {
    left: -200%;
    opacity: 1;
  }
  98% {
    left: -200%;
    opacity: 1;
  }
  99% {
    opacity: 0.5;
  }
  100% {
    left: 0%;
  }
}
@-moz-keyframes slide-animation {
  1% {
    left: 0%;
    opacity: 1;
  }
  18% {
    left: 0%;
    opacity: 1;
  }
  19% {
    opacity: 0.2;
  }
  20% {
    left: -100%;
    opacity: 1;
  }
  58% {
    left: -100%;
    opacity: 1;
  }
  59% {
    opacity: 0.2;
  }
  60% {
    left: -200%;
    opacity: 1;
  }
  98% {
    left: -200%;
    opacity: 1;
  }
  99% {
    opacity: 0.5;
  }
  100% {
    left: 0%;
  }
}
/*Donate Button*/
.donate-button a {
  width: 200px;
  height: 35px;
  background-color: #FBA423;
  color: black;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 20px 0;
  transition: all 0.3s ease 0s;
  margin: 5px auto 10px;
  font-size: 16px;
  text-decoration: none;
}
.donate-button a:hover {
  background-color: teal;
  color: #FBA423;
}
/*Accordion*/
#accordion {
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 20px;
}
#accordion .title {
  padding: 20px;
  background-color: teal;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#accordion .title.active + .accordion-content {
  max-height: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#accordion .accordion-content {
  max-height: 0;
  padding: 0 20px;
  border: 1px solid #aaa;
  border-top: 0;
  overflow: hidden;
  transition: max-height 0.3s, padding 0.3s;
  font-size: 15px;
  background-color: white;
  color: black;
  line-height: 1.6;
}
/*Tableau*/
.tableauPlaceholder {
  background-color: #C12E6A;
  display: none;
}
@media (min-width: 500px) {
  .tableauPlaceholder {
    display: block;
  }
}
/*Footer*/
footer {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #028d8d;
}
