/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Work Sans', sans-serif;
  color: #FAA422;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Work Sans', sans-serif;
  color: #FAA422;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background-color: #c76060;
}
.beach-boys {
  height: 300px;
  width: 100%;
}
.school-kids {
  height: 300px;
  width: 30%;
}
.kids-hug {
  height: 300px;
  width: 30%;
}
.laughing-kids {
  height: 300px;
  width: 30%;
}
header {
  background-color: teal;
  border: 2px solid #c76060;
}
header h1 {
  font-size: 40px;
  padding: 1.3rem;
  display: flex;
  justify-content: center;
}
header nav {
  padding: 1rem 0.9rem;
  display: flex;
  justify-content: space-around;
}
header nav a {
  font-size: 15px;
  color: #FAA422;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 0 auto;
  border: 3px solid #FAA422;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}
header nav a:hover {
  color: white;
}
.intro-content {
  padding: 20px;
}
.intro-content h3 {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mid-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.mid-imgs .school-kids {
  height: 300px;
  width: 50%;
}
@media (min-width: 1000px) {
  .mid-imgs .school-kids {
    display: flex;
    height: 300px;
    width: 33%;
  }
}
.mid-imgs .kids-hug {
  display: none;
}
@media (min-width: 800px) {
  .mid-imgs .kids-hug {
    display: flex;
    width: 50%;
  }
}
@media (min-width: 1000px) {
  .mid-imgs .kids-hug {
    display: flex;
    height: 300px;
    width: 34%;
  }
}
.mid-imgs .laughing-kids {
  display: none;
}
@media (min-width: 800px) {
  .mid-imgs .laughing-kids {
    display: none;
  }
}
@media (min-width: 1000px) {
  .mid-imgs .laughing-kids {
    display: flex;
    height: 300px;
    width: 33%;
  }
}
.info .stories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.info .stories .box {
  width: 25%;
  height: 100px;
  background: teal;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.donate-button {
  width: 100%;
  height: 100px;
  background-color: #FAA422;
  color: teal;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 20px 0;
  transition: all 0.3s ease 0s;
}
.donate-button:hover {
  background-color: teal;
  color: #FAA422;
}
footer {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
