.intro-content {
    padding: 20px;
}

.intro-content h3 {
    padding: 10px 20px 0px;
    .center;
}

.intro-content p {
    padding: 20px;
    .center;
}

.beach-boys{
  height:100%;
  width: 100%;
  margin: 0 auto;
  .center;
}

/* Slideshow container */
.slider {
    box-shadow: 0px 4px 10px #9d9d9d;
    padding: 0;
    margin: 0;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 700px;
    border-radius: 4px;
  }
  
  .slider ul {
    width: 1000%;
    height: auto;
    position: relative;
    list-style: none;
    left: 0;
    margin: 0;
    padding: 0;
    line-height: 0;
    -moz-animation:slide-animation 15s infinite;
    -webkit-animation:slide-animation 15s infinite;
  }
  
  .slider ul:hover {
    -moz-animation-play-state:paused;
    -webkit-animation-play-state:paused;
  }
  
  .slider li {
    width: 10%;
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
  }
  
  img {
    max-width: 100%;
    border-radius: 4px;
  }
  
  @-webkit-keyframes slide-animation {
    1% {left: 0%; opacity: 1;}
    18% {left: 0%; opacity: 1}
    19% {opacity: 0.2;}
    20% {left: -100%; opacity: 1;}
    58% {left: -100%; opacity: 1;}
    59% {opacity: 0.2;}
    60% {left: -200%; opacity: 1;}
    98% {left: -200%; opacity: 1;}
    99% {opacity: 0.5;}
    100% {left: 0%;}
  }
  
  @-moz-keyframes slide-animation {
    1% {left: 0%; opacity: 1;}
    18% {left: 0%; opacity: 1}
    19% {opacity: 0.2;}
    20% {left: -100%; opacity: 1;}
    58% {left: -100%; opacity: 1;}
    59% {opacity: 0.2;}
    60% {left: -200%; opacity: 1;}
    98% {left: -200%; opacity: 1;}
    99% {opacity: 0.5;}
    100% {left: 0%;}
  }


/*Donate Button*/
.donate-button a{
    .custom-btn(@width: 200px, @height: 35px, @bgcolor: @main-color, @font-color: black);
    margin: 5px auto 10px;
    font-size: 16px;
    text-decoration: none;
}


/*Accordion*/
#accordion {
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 20px;
}

#accordion .title {
    padding: 20px;
    background-color: @nav-bg;
    font-size: 15px;
    .center;
}

#accordion .title.active + .accordion-content {
    max-height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#accordion .accordion-content {
    max-height: 0;
    padding: 0 20px;
    border: 1px solid #aaa;
    border-top: 0;
    overflow: hidden;
    transition: max-height 0.3s, padding 0.3s;
    font-size:15px;
    background-color:white;
    color: black;
    line-height: 1.6;
}

/*Tableau*/
.tableauPlaceholder {
  background-color: @accent;
}


/*Footer*/
footer {
    font-size: 15px;
    .center;
    padding: 20px;
    background-color: @nav-bg;
}