body {
	margin: 0;
	font-family: @font_family_1;
	background-color: @background_color_1;
}
a {
	color: @color_1;
}
.header {
	background-color: @background_color_2;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	position: fixed;
	width: 100%;
	z-index: 3;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
		background-color: @background_color_2;
	}
	li {
		a {
			display: block;
            padding: 20px 20px;
            text-decoration: none;
            border-radius: 30px;
            font-size: 17px;
            font-weight: bold;
            .center;
			&:hover {
				background-color: @background_color_1;
			}
		}
	}
	.menu-btn {
		&:hover {
			background-color: @background_color_1;
		}
		display: none;
		&:checked {
			&~.menu {
				max-height: 240px;
			}
			&~.menu-icon {
				.navicon {
					background: transparent;
					&:before {
						transform: rotate(-45deg);
					}
					&:after {
						transform: rotate(45deg);
					}
				}
				&:not(.steps) {
					.navicon {
						&:before {
							top: 0;
						}
						&:after {
							top: 0;
						}
					}
				}
			}
		}
	}
	.logo {
		display: block;
		float: left;
		font-size: 2.6em;
		padding: 15px 20px 5px;
        text-decoration: none;
        .center;
	}
	.menu {
		clear: both;
		max-height: 0;
		transition: max-height .3s ease-out;
	}
	.menu-icon {
		cursor: pointer;
		display: inline-block;
		float: right;
		padding: 28px 20px;
		position: relative;
		user-select: none;
		.navicon {
			background: @accent;
			display: block;
			height: 2px;
			position: relative;
			transition: background .2s ease-out;
			width: 18px;
			&:before {
				background: @main-color;
				content: '';
				display: block;
				height: 100%;
				position: absolute;
				transition: all .2s ease-out;
				width: 100%;
				top: 5px;
			}
			&:after {
				background: #333;
				content: '';
				display: block;
				height: 100%;
				position: absolute;
				transition: all .2s ease-out;
				width: 100%;
				top: -5px;
			}
		}
	}
}
@media @desktop {
	.header {
		li {
			float: left;
			a {
				padding: 20px 30px;
			}
		}
		.menu {
			clear: none;
			float: right;
			max-height: none;
		}
		.menu-icon {
			display: none;
		}
	}
}

.sticky-btn {
    opacity: 0.8;
    position: fixed;
    right: 0px;
    top: 11.8%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

